.container{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
     
}

.description {
    display: flex;
    position: absolute;     
    
    font-family: 'Saira';
    font-size: 18px;    
    color: white;
}

.descLeft  {
    margin-left: 5px;
    margin-top: 10%;
    width: 400px;
    flex-wrap: wrap;
    text-align: left;
}

.descRight  {
    margin-top: 10%;
    width: 400px;
    text-align: left;
}
  
.redFont {     
    
    font-family: 'Saira';
    font-size: 25px;
}
.avatar {
    max-width:500px;
    max-height:550px;
    width: auto;
    height: auto;
    margin: 20px;
    border-radius: 50%;

}